-
    var ids = {
        text: 'text',
        textContainer: 'textContainer',
        textEditor: 'textEditor',
        controls: 'controls',
        options: 'options',
        statistics: 'statistics',
        visualization: 'visualization'
    };

    // the order must match the corresponding enums
    var optionLists = {
        colorMetrics: [ 'none', 'duration', 'char speed', 'syllable speed' ],   // Matric@utils/metric.js
        mappings: [ 'static', 'dynamic' ]        // Mapping@path.js
    };

doctype html
html
    head
        title School Reading
        meta(charset="utf-8")
        link(rel='stylesheet', href='app.css')
        script(src='libs/gazeTargets/gazeTargets.js')
        script(src='libs/firebase.js')
        script(src='libs/shortcut.js')
        script(src='libs/regression.js')

    body
        include ./components/text.jade
        +controls( ids.textContainer, ids.text )

        include ./components/controls.jade
        +controls( ids.controls )

        include ./components/textEditor.jade
        +textEditor( ids.textEditor )

        include ./components/options.jade
        +options( ids.options, optionLists )

        include ./components/statistics.jade
        +statistics( ids.statistics )

        include ./components/visualization.jade
        +visualization( ids.visualization )

        script(src='app.js')
        script.
            Reading.init({
                text: '##{ids.text}',
                textContainer: '##{ids.textContainer}',
                visualization: '##{ids.visualization}',
                controls: '##{ids.controls}',
                options: '##{ids.options}',
                statistics: '##{ids.statistics}',
                textEditor: '##{ids.textEditor}',
            });
