//- requires:
//-     slideout.less

mixin options(id, lists)
    div(id=id).slideout.left
        .title Options
        .slideout_inner
            .group
                .name Text
                .row
                    .label Color
                    input.value#text(type="color")
                .row
                    .label Font size
                    input.value#fontSize
                .row
                    .label Hidden initially
                    input.value#hiddenText(type="checkbox")
            .group
                .name Gaze
                .row
                    .label Show pointer
                    input.value#showPointer(type="checkbox")
                .row
                    .label Highlight focused word
                    input.value#highlightWord(type="checkbox")
                .row
                    .label Syllabify words
                    input.value#syllabify(type="checkbox")
                .row
                    .label Voice
                    input.value#voice(type="checkbox")
                .row
                    .label Highlighting color
                    input.value#currentWord(type="color")
            .group
                .name Mapping
                .row
                    .label Type
                    select.value#path_mapping
                        each mapping in lists.mappings
                            option(value="#{mapping}") #{mapping}
            .group
                .name Session visualization
                .row
                    .label Word color metric
                    select.value#path_colorMetric
                        each metric in lists.colorMetrics
                            option(value="#{metric}") #{metric}
                .row
                    .label Show IDs
                    input.value#path_showIDs(type="checkbox")
                .row
                    .label Show word-fixation connections
                    input.value#path_showConnections(type="checkbox")
                .row
                    .label Show saccades
                    input.value#path_showSaccades(type="checkbox")
                .row
                    .label Show fixations
                    input.value#path_showFixations(type="checkbox")
                .row
                    .label Show orig. fixation location
                    input.value#path_showOriginalFixLocation(type="checkbox")
            .group
                .name Summary visualization
                .row
                    .label Color metric
                    select.value#wordGazing_colorMetric
                        each metric in lists.colorMetrics
                            option(value="#{metric}") #{metric}
                .row
                    .label Show fixations
                    input.value#wordGazing_showFixations(type="checkbox")
                .row
                    .label Unite spacings
                    input.value#wordGazing_uniteSpacings(type="checkbox")
                .row
                    .label Show regressions
                    input.value#wordGazing_showRegressions(type="checkbox")
            input.save(type="button", value="Save")
            input.close(type="button", value="Close")
